@page {
  size: A4;
  margin: 0;
}

@media print {
  body {
    margin: 0;
    padding: 0;
    background: white;
  }

  .logo {
    width: 40mm !important;   
    height: auto !important;
    max-width: 100% !important;
  }


  .dont-print {
    display: none !important;
    visibility: hidden;
  }

  .print-this {
    display: block;
    visibility: visible;
    margin: 0;
    padding: 0;

  }
  img {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}


